<StackLayout
  width="100%"
  [class]="customClass"
  orientation="horizontal"
  horizontalAlignment="left"
>
  <DockLayout
    width="100%"
    horizontalAlignment="left"
    verticalAlignment="center"
  >
    <StackLayout
      dock="left"
      class="p-l-5"
      *ngIf="iconPrefix"
      verticalAlignment="center"
      horizontalAlignment="center"
    >
      <core-ui-icon
        [name]="iconPrefix"
        size="20"
        [color]="iconColor"
        (tapAction)="iconPrefixTapAction?.emit($event)"
      >
      </core-ui-icon>
    </StackLayout>
    <TextField
      horizontalAlignment="left"
      #textField
      width="80%"
      dock="left"
      [hint]="hint"
      (textChange)="onTextChange($event)"
      [secure]="secure"
      [required]="required"
      [editable]="editable"
      [keyboardType]="keyboardType"
      [returnKeyType]="returnKeyType"
      (returnPress)="returnPress.emit($event)"
      [autocorrect]="autocorrect"
      [maxLength]="maxLength || 255"
      (focus)="textFieldFocus.emit($event)"
      (blur)="textFieldBlur.emit($event)"
      [class]="customTextFieldClass"
    ></TextField>
    <StackLayout
      dock="right"
      *ngIf="iconSuffix"
      verticalAlignment="center"
      horizontalAlignment="center"
    >
      <core-ui-icon
        [name]="iconSuffix"
        size="20"
        [color]="iconColor"
        (tapAction)="iconSuffixTapAction?.emit($event)"
      >
      </core-ui-icon>
    </StackLayout>
  </DockLayout>
</StackLayout>
