.more-con-opts {
    .btn-sign-up {
        z-index: 0;
        font-size: 18px;
        font-weight: 500;
    }

    .or-container {
        width: 100%;
        margin-top: 64px;

        .or-text {
            font-size: 16px;
        }

        .line {
            margin: 5;
            height: 1px;
            width: 40%;
            border: 1px solid #333;
            border-width: 2px;
        }
    }

    .connect-with {
        text-align: center;
    }

    .social-img {}

}