.sign-in-block {
    .btn-sign-up {
        z-index: 0;
        font-size: 18px;
        font-weight: 500;
    }

    core-ui-icon {
        z-index: 1;
    }

    .logo-container {
        background: url(~/assets/back_material.png);
        background-position: center center;
        background-size: cover;

        FlexboxLayout {
            background: rgba(57, 84, 180, 0.76);
        }
    }

    .ng-valid[required] {
        // border-left-color: #42A948;
        // border-left-width: 3;
    }

    .ng-invalid {
        // border-bottom-color: #a94442;
        // border-bottom-width: 3;
    }

    .ng-invalid[isCollapsed="true"] {
        border-bottom-width: 0;
    }

    .validation {
        // background-color: #a94442;
        // color: #ffffff;
    }

    .h1 {
        font-weight: 100;
    }

    .h5,
    .h2 {
        font-weight: 100;
    }

    .submit {
        font-weight: 600;
        font-size: 16rem;
    }

    LinearProgressBar {
        // background-color: #E865B5;
    }

}