#auth-back {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .back-1 {
        background: linear-gradient(rgba(52, 98, 179, 0.57), rgba(52, 98, 179, 0.57)), url(~/assets/back_auth.jpg);
        background-size: cover;
        background-position: center;
    }

    .back-2 {
        background: url(~/assets/bg_trans.png);
        background-size: cover;
    }

    .loader {
        height: 6px;
    }
}